.nav {
  background-color: #333;
  padding: 10px;
}

.list {
  display: flex;
  gap: 20px;
}

.item {
  list-style: none;
}

.text {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.text:hover {
  text-decoration: underline;
}